@page "/Logout"
@using Microsoft.AspNetCore.Identity

@attribute [ExcludeFromInteractiveRouting]

@inject SignInManager<SocialUser> SignInManager

<PageTitle>Logging out...</PageTitle>

<form method="post" @formname="logout" id="logoutForm">
    <AntiforgeryToken/>
    <noscript>
        <button type="submit">Click here to log out</button>
    </noscript>
</form>

<script>
    document.getElementById('logoutForm').submit();
</script>

@code {

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsPost(HttpContext.Request.Method))
        {
            await SignInManager.SignOutAsync();
            HttpContext.Response.Redirect("/");
        }
    }

}